.version.index /* version checker */
{
	color: #0000E4;
	background-color: #861117;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 946.6500000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -75px;
	margin-bottom: -1px;
}

#pslideshowu371
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu371
{
	z-index: 95;
	width: 0.01px;
	height: 240px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u378
{
	position: absolute;
	width: 1160px;
	height: 240px;
	background-color: transparent;
}

#u378popup
{
	z-index: 96;
}

#u424
{
	z-index: 97;
	width: 1160px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u466
{
	z-index: 99;
	width: 1160px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u508
{
	z-index: 101;
	width: 1160px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u72
{
	z-index: 103;
	width: 476px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu365
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 200px;
	margin-left: 735px;
}

#buttonu365
{
	z-index: 106;
	width: 231px;
	height: 50px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu365:hover #buttonu365
{
	width: 230px;
	height: 49px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u210-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
}

#pbuttonu365 #u210-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 57px;
}

#pbuttonu365:hover #u210-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 56px;
}

#pbuttonu362
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 200px;
	margin-left: 158px;
}

#buttonu362
{
	z-index: 113;
	width: 305px;
	height: 50px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu362:hover #buttonu362
{
	width: 304px;
	height: 49px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u211-4
{
	z-index: 114;
	display: block;
	vertical-align: top;
}

#pbuttonu362 #u211-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 36px;
}

#pbuttonu362:hover #u211-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 35px;
}

#pamphletu309
{
	z-index: 4;
	width: 0.01px;
	height: 366px;
	padding-bottom: 339px;
	left: -110px;
	position: relative;
}

#u316
{
	z-index: 5;
	width: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 762px;
}

#u317
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u317:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u317.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

.ie #u317.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u310
{
	position: absolute;
	width: 1264px;
	background-color: transparent;
}

#u310popup
{
	z-index: 7;
}

#u313
{
	z-index: 8;
	width: 1064px;
	height: 688px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 22px;
	padding-top: 17px;
	padding-right: 178px;
	margin-right: -10000px;
	position: relative;
}

#u313:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#pu90-4
{
	width: 0.01px;
}

#u90-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u92-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 666px;
}

#u230-4
{
	z-index: 17;
	width: 465px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#u233-6
{
	z-index: 21;
	width: 557px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 507px;
}

#u518-9
{
	z-index: 27;
	width: 178px;
	min-height: 63px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 246px;
}

#u518-2
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u518-3,#u518-4,#u518-5
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
}

#u518-6
{
	text-align: center;
}

#u519
{
	z-index: 36;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 61px;
}

#u525
{
	z-index: 38;
	width: 125px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 258px;
}

#u532-4
{
	z-index: 43;
	width: 183px;
	min-height: 89px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 334px;
	left: 24px;
}

#u534-3
{
	z-index: 47;
	width: 462px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
}

#u561-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 501px;
}

#u562-4
{
	z-index: 54;
	width: 557px;
	min-height: 91px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 507px;
}

#u560-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 476px;
}

#u564-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 418px;
}

#pu531-3
{
	width: 0.01px;
	margin-left: 325px;
	margin-top: 2px;
}

#u531-3
{
	z-index: 40;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 645px;
}

#u565-5
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
}

#u570-4
{
	z-index: 71;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u571-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u572-6
{
	z-index: 79;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u94
{
	z-index: 3;
	height: 485px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u94-bw
{
	z-index: 3;
	margin-top: -705px;
	margin-bottom: -487px;
	height: 487px;
}

#u585
{
	z-index: 2;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 16px;
}

#u585_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u584-4
{
	z-index: 91;
	width: 416px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 329px;
}

#u585-bw
{
	z-index: 2;
	margin-top: -1px;
	height: 47px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

