.version.index /* version checker */
{
	color: #00001C;
	background-color: #5ACD75;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -1px;
}

#slideshowu1123
{
	z-index: 4;
	width: 0.01px;
	height: 192px;
	position: relative;
}

#u1131
{
	position: absolute;
	width: 380px;
	height: 192px;
	background-color: transparent;
}

#u1131popup
{
	z-index: 5;
}

#u1136
{
	z-index: 6;
	width: 380px;
	height: 192px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1172
{
	z-index: 8;
	width: 380px;
	height: 192px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1184
{
	z-index: 10;
	width: 380px;
	height: 192px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pu1104
{
	width: 0.01px;
	margin-top: -192px;
}

#u1104
{
	z-index: 12;
	width: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1108
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 63px;
	margin-left: 250px;
}

#buttonu1108
{
	z-index: 62;
	width: 116px;
	height: 35px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1108:hover #buttonu1108
{
	width: 115px;
	height: 34px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1109-4
{
	z-index: 63;
	display: block;
	vertical-align: top;
}

#pbuttonu1108 #u1109-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 21px;
}

#pbuttonu1108:hover #u1109-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 20px;
}

#pbuttonu1110
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 201px;
}

#buttonu1110
{
	z-index: 98;
	width: 170px;
	height: 28px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1110:hover #buttonu1110
{
	width: 169px;
	height: 27px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1111-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
}

#pbuttonu1110 #u1111-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 24px;
}

#pbuttonu1110:hover #u1111-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 23px;
}

#pu1107
{
	width: 0.01px;
}

#u1107
{
	z-index: 3;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1107_position_content
{
	margin-bottom: -59px;
	padding-top: 16px;
}

#u1076-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	margin-left: 80px;
	position: relative;
}

#u1073-4
{
	z-index: 57;
	width: 348px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 17px;
	margin-top: 8px;
	position: relative;
}

#u1082-6
{
	z-index: 14;
	width: 348px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 17px;
	margin-top: 121px;
	position: relative;
}

#u1091
{
	z-index: 28;
	width: 114px;
	background-color: transparent;
	margin-left: 132px;
	margin-top: 245px;
	position: relative;
}

#u1089-4
{
	z-index: 30;
	width: 183px;
	min-height: 89px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 97px;
	margin-top: 13px;
	position: relative;
}

#u1088-9
{
	z-index: 34;
	width: 178px;
	min-height: 63px;
	background-color: transparent;
	margin-left: 97px;
	margin-top: 100px;
	position: relative;
}

#u1088-2
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u1088-3,#u1088-4,#u1088-5
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
}

#u1088-6
{
	text-align: center;
}

#u1074-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 567px;
	left: 21px;
}

#u1075-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 56px;
}

#u1085
{
	z-index: 43;
	width: 125px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1034px;
	left: 133px;
}

#u1093-4
{
	z-index: 45;
	width: 342px;
	min-height: 91px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 631px;
	left: 18px;
}

#u1083-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 90px;
}

#u1084-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	margin-left: 77px;
	margin-top: 12px;
	position: relative;
}

#pu1072-5
{
	width: 0.01px;
	margin-left: -9px;
	margin-top: 13px;
}

#u1072-5
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
}

#u1080-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1087-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u1077-6
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u1194
{
	z-index: 2;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 20px;
}

#u1193-4
{
	z-index: 104;
	width: 416px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -10px;
}

#u1194-bw
{
	z-index: 2;
	height: 52px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

