.version.index /* version checker */
{
	color: #00000A;
	background-color: #850B5B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.5500000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -5px;
	margin-bottom: -1px;
}

#slideshowu1123
{
	z-index: 3;
	width: 0.01px;
	height: 197px;
	position: relative;
}

#u1131
{
	position: absolute;
	width: 380px;
	height: 197px;
	background-color: transparent;
}

#u1131popup
{
	z-index: 4;
}

#u1136
{
	z-index: 5;
	width: 380px;
	height: 197px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1172
{
	z-index: 7;
	width: 380px;
	height: 197px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1184
{
	z-index: 9;
	width: 380px;
	height: 197px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pu1104
{
	width: 0.01px;
	margin-left: -157px;
	margin-top: -192px;
}

#u1104
{
	z-index: 11;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#pamphletu1069
{
	z-index: 13;
	width: 0.01px;
	height: 366px;
	padding-bottom: 1058px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
}

#u1098
{
	z-index: 14;
	width: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 762px;
}

#u1099
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u1099:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u1099.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

.ie #u1099.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1070
{
	position: absolute;
	width: 1264px;
	background-color: transparent;
}

#u1070popup
{
	z-index: 16;
}

#u1071
{
	z-index: 17;
	width: 1264px;
	height: 1424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1071:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#pu1107
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 79px;
	margin-left: 157px;
}

#u1107
{
	z-index: 18;
	width: 383px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1107_position_content
{
	margin-bottom: -79px;
	padding-top: 9px;
}

#u1076-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 63px;
	position: relative;
}

#u1073-4
{
	z-index: 27;
	width: 348px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 19px;
	margin-top: 24px;
	position: relative;
}

#u1083-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-left: 61px;
	margin-top: 9px;
	position: relative;
}

#u1082-6
{
	z-index: 31;
	width: 348px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 19px;
	margin-top: 46px;
	position: relative;
}

#u1091
{
	z-index: 48;
	width: 114px;
	background-color: transparent;
	margin-left: 138px;
	margin-top: 244px;
	position: relative;
}

#u1089-4
{
	z-index: 50;
	width: 183px;
	min-height: 89px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 102px;
	margin-top: 13px;
	position: relative;
}

#u1088-9
{
	z-index: 54;
	width: 178px;
	min-height: 63px;
	background-color: transparent;
	margin-left: 108px;
	margin-top: 105px;
	position: relative;
}

#u1088-2
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u1088-3,#u1088-4,#u1088-5
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
}

#u1088-6
{
	text-align: center;
}

#u1074-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 594px;
	left: 30px;
}

#u1075-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 39px;
}

#u1085
{
	z-index: 63;
	width: 125px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1054px;
	left: 134px;
}

#u1081-3
{
	z-index: 37;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 673px;
	left: 991px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pbuttonu1108
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 63px;
	margin-left: 407px;
}

#buttonu1108
{
	z-index: 66;
	width: 116px;
	height: 35px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1108:hover #buttonu1108
{
	width: 115px;
	height: 34px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1109-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
}

#pbuttonu1108 #u1109-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 21px;
}

#pbuttonu1108:hover #u1109-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 20px;
}

#pbuttonu1110
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 358px;
}

#buttonu1110
{
	z-index: 109;
	width: 170px;
	height: 28px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1110:hover #buttonu1110
{
	width: 169px;
	height: 27px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1111-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
}

#pbuttonu1110 #u1111-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 24px;
}

#pbuttonu1110:hover #u1111-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 23px;
}

#u1093-4
{
	z-index: 72;
	width: 342px;
	min-height: 91px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 24px;
	top: -689px;
	margin-bottom: -176px;
	position: relative;
}

#u1090-3
{
	z-index: 105;
	width: 462px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	left: -73px;
	top: -381px;
	margin-bottom: -90px;
	position: relative;
}

#u1084-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	margin-left: 79px;
	top: -76px;
	margin-bottom: -50px;
	position: relative;
}

#pu1072-5
{
	width: 0.01px;
	margin-left: -14px;
	margin-top: -11px;
}

#u1072-5
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
}

#u1080-4
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1087-4
{
	z-index: 89;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u1077-6
{
	z-index: 93;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u1194
{
	z-index: 2;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 20px;
}

#u1193-4
{
	z-index: 115;
	width: 416px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -10px;
}

#u1194-bw
{
	z-index: 2;
	height: 52px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

